<div class="form-background">
  <h1>Login</h1>
  <%= form_for @user, url: session_path do |f| %>
    <div class="padding login-form">
      <%= f.label 'Username' %>
      <%= f.text_field :username, class: 'textfield' %>
      <p></p>
      <%= f.label 'Password' %>
      <%= f.text_field :password, class: 'textfield' %>


    </div>
    <div class="button-background">
      <%= f.submit 'LOGIN', class: 'register-button' %>
    </div>
  <% end %>

</div>