<div class="form-background">
  <h1>Login</h1>
  <%= form_for @session, url: session_path, method: 'post' do |f| %>
    <div class="padding login-form">
      <p class="error"><%= @session.errors[:base].first %></p>
      <p></p>

      <%= f.label 'Username' %>
        <span class="error"><%= @session.errors[:username].first %></span>
      <%= f.text_field :username, class: 'textfield', autofocus: true %>
      <p></p>
      <%= f.label 'Password' %>
        <span class="error"><%= @session.errors[:password].first %></span>
      <%= f.password_field :password, class: 'textfield' %>


    </div>
    <div class="button-background">
      <%= f.submit 'LOGIN', class: 'register-button' %>
    </div>
  <% end %>

</div>