<%= form_for [commented, comment], html: {class: 'comment-form'} do |f| %>
  <%= f.text_field :body, placeholder: 'Enter your comments here...' %>

  <%= f.submit 'RANT BACK', class: 'button' %>
<% end %>


<% commented.comments.each do |comment| %>
  <div class="comment">
    <div class="comment-left">
      <%= link_to comment.user.first_name, user_path(comment.user) %>
      <%= image_tag comment.user.avatar %>
    </div>
    <p><%= truncate(comment.body, length: 150) %></p>
  </div>
<% end %>