<div class="form-background">

  <h1>Edit your information</h1>
  <%= form_for @user do |f| %>
    <div class="padding">
      <div class="register-flex">
        <div class="form-right">
          <%= f.label 'Username' %>
          <%= f.text_field :username, class: 'textfield' %>

          <%= f.label 'First name' %>
          <%= f.text_field :first_name, class: 'textfield' %>
        </div>
        <div class="form-left">
          <%= f.label 'Password' %>
          <%= f.password_field :password, class: 'textfield', placeholder: 'Set new password here' %>

          <%= f.label 'Last name' %>
          <%= f.text_field :last_name, class: 'textfield' %>
        </div>
      </div>

      <%= f.label :bio %>
      <%= f.text_area :bio %>

      <p>How often do you rant?</p>

      <div class="radios">
        <div>
          <%= f.radio_button(:frequency, 'Daily') %>
          <%= f.label(:frequency_daily, 'Daily') %>
        </div>
        <div>
          <%= f.radio_button(:frequency, 'Weekly') %>
          <%= f.label(:frequency_weekly, 'Weekly') %>
        </div>
        <div>
          <%= f.radio_button(:frequency, 'Monthly') %>
          <%= f.label(:frequency_monthly, 'Monthly') %>
        </div>
      </div>
    </div>
    <div class="button-background">
      <%= f.submit 'Edit profile', class: 'register-button' %>
    </div>
  <% end %>

</div>

