<div class="focus show-user-profile">

  <h1><%= full_name(@profile_user) %></h1>

  <%= render partial: 'follows/follow_link', locals: {user: @profile_user} %>

  <hr class="long"/>

  <div class="subheader">

    <%= image_tag @profile_user.avatar %>

    <h2><%= @profile_user.frequency %> Ranter</h2>
  </div>

  <%= @profile_user.bio %>

  <div class="profile-rants">
    <% get_user_favorited_rants(@profile_user).each do |rant| %>
      <h3><%= rant.title %></h3>

      <p><%= MarkdownParser.new(rant.rant).render_html %></p>
      <%= render partial: 'favorites/favorite_link', locals: {rant: rant} %>

    <% end %>
  </div>
</div>