<div class="rant-wrapper">
  <h3><%= rant.title %></h3>
  <div class="rant-blurb">
    <div class="left-blurb">
      <%= render partial: 'users/profile_link', locals: {user: rant.user} %>
      <%= image_tag rant.user.avatar %>

      <% unless rant.user == @user %>
        <%= render partial: 'follows/follow_link', locals: {user: rant.user} %>
      <% end %>

    </div>
    <a href="/rants/<%= rant.id %>" class="right-blurb">
      <%= to_markdown(truncate(rant.rant, length: 300)) %>
    </a>


  </div>
  <p class="rant-link-container">
    <%= render partial: 'favorites/favorite_link', locals: {rant: rant} %>
  </p>
</div>

