<div class="focus">
  <div class="rant-show">
    <h1><%= @display_rant.title %></h1>

    <%= render partial: 'favorites/favorite_link', locals: {rant: @display_rant} %>

    <hr class="long-rule">
    <%= image_tag @display_rant.user.avatar %>

    <div class="subheader">
      <h3>by <%= link_to full_name(@display_rant.user), user_path(@display_rant.user) %></h3>

      <div class="button-div">
        <button class="blue">Tweet</button>
        <button class="red">Spam</button>
      </div>
    </div>

    <br/>

    <p><%= to_markdown(@display_rant.rant) %></p>
    <hr>

    <%= render partial: 'comments/comments_and_form', locals: {commented: @display_rant} %>
  </div>
</div>

