  <div class="header-link">
    <%= link_to 'Dashboard', dashboard_path, class: 'border dashboard-link' %>
    <%= link_to 'Following', user_follows_path(@user), class: "border follow-header-link" %>
    <%= link_to 'Favorites', favorites_path, class: 'border favorite-link' %>
    <%= link_to 'Search', search_index_path, class: "search-link" %>
  </div>

  <div class="button-div">
    <%= button_to('LOGOUT', '/session', method: 'delete', class: 'button') %>
  </div>
