<!DOCTYPE html>
<html>
<head>
  <title>Rantly</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="initial-scale=1.0">
</head>
<body>
<div class='header'>
  <%= link_to('Rant.ly', root_path, class: 'logo') %>

  <div class="header-link">
    <a class="border">Dashboard</a>
    <a class="border">Following</a>
    <a class="border">Favorites</a>
    <a class="border">Search</a>
  </div>

  <%= button_to('LOGOUT', '/session', method: 'delete', class: 'button') %>

</div>

<% if flash[:notice] %>
  <p class="flash"><%= flash[:notice] %></p>
<% end %>

<div class="wrapper">
  <%= yield %>
</div>
</body>
</html>
