<!DOCTYPE html>
<html>
<head>
  <title>Rantly</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="initial-scale=1.0">
</head>
<body>
<div class='header'>
  <%= link_to('Rant.ly', root_path, class: 'logo') %>

  <%= button_to('JOIN', new_user_path, method: 'get', class: 'button') %>
  <%= link_to('Login', new_session_path) %>

</div>

<% if flash[:notice] %>
  <p class="flash"><%= flash[:notice] %></p>
<% end %>

<div class="wrapper">
  <%= yield %>
</div>
</body>
</html>
