<!DOCTYPE html>
<html>
<head>
  <title>Rantly</title>
  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="initial-scale=1.0">
</head>
<body data-controller="<%= controller_name %>" data-action="<%= action_name %>">
<div class='header'>
  <%= link_to('Rant.ly', root_path, class: 'logo') %>

  <div class="button-div">
    <%= link_to('Login', new_session_path) %>

    <%= button_to('JOIN', new_user_path, method: 'get', class: 'button') %>
  </div>

</div>

<% if flash[:notice] %>
  <p class="flash"><%= flash[:notice] %></p>
<% end %>

<div class="wrapper">
  <%= yield %>
</div>
</body>
</html>
